@media (max-width: 325px) {
	@keyframes navItemsAnimation {
		from {
			transform: translateY(230%);
		}

		to {
			transform: translateY(0);
		}
	}
}

@media (min-width: 350px) {
	.main {
		.welcome-section {
			.wrapper {
				.left-side {
					&__trapezoid {
						height: 280px;
					}

					&__avatar {
						height: 320px;
					}
				}
			}
		}
	}
}

@media (min-width: 450px) {
	.main {
		.welcome-section {
			padding-top: 10em;

			.wrapper {
				.left-side {
					&__trapezoid {
						height: 320px;
					}

					&__avatar {
						height: 360px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		.wrapper {
			.navbar {
				&__menu {
					display: block;
				}

				.hamburger {
					display: none;
				}

				&__call-button {
					display: block;
				}
			}
		}
	}

	.main {
		.welcome-section {
			.wrapper {
				.right-side {
					.main-heading {
						font-size: 4.4rem;
					}

					.main-description {
						padding: 0 5em;
						font-size: 1.5rem;
					}

					&__attributes {
						font-size: 1.4rem;
					}

					&__socials {
						margin-top: 1.5em;
					}

					&__cta-button {
						margin-top: 2.75em;
						width: 70%;
					}
				}
			}
		}

		.benefits {
			.wrapper {
				.benefits-box {
					flex-direction: row;
					justify-content: space-between;
					margin-top: 4em;
				}
			}
		}

		.features {
			.wrapper {
				.features-box {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					margin-top: 4em;

					&__item {
						margin: 0 1em 4em 1em;
						width: 200px;
					}
				}
			}
		}

		.comments {
			.wrapper {
				.swiper {
					padding: 1.5em 0;
				}

				.swiper-slide {
					&__content {
						font-size: 1.9rem;
					}

					&__author {
						&-name {
							font-size: 1.8rem;
						}
					}
				}

				.swiper-button-next,
				.swiper-button-prev {
					display: block;
				}
			}
		}

		.faq {
			.wrapper {
				.faq-col {
					&__question {
						&-content {
							font-size: 1.7rem;
						}
					}

					&__answer {
						&-content {
							font-size: 1.6rem;
						}
					}
				}
			}
		}

		.contact {
			.wrapper {
				.contact-box {
					.left-col {
						flex-direction: row;
						justify-content: center;
						align-items: flex-start;
						margin-top: 3em;

						&__element {
							width: 350px;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	.footer {
		&__mobile {
			padding: 1.5em;

			&-logo {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.wrapper {
			.navbar {
				height: 70px;
				border-radius: 40px;

				&__logo {
					padding: 0.75em 1em;
				}

				&__menu {
					&-item {
						padding: 1em 1.25em;
					}
				}

				&__call-button {
					margin-right: 0.5em;
				}
			}
		}
	}

	.main {
		.section {
			padding: 6em 1em;
		}

		.section-title {
			font-size: 3rem;
		}

		.welcome-section {
			padding-top: 10em;

			.wrapper {
				flex-direction: row;

				.left-side {
					justify-content: flex-end;
					order: 1;

					&__trapezoid {
						height: 340px;
					}

					&__avatar {
						height: 380px;
					}
				}

				.right-side {
					align-items: flex-start;

					.main-heading {
						font-size: 5rem;
					}

					.main-description {
						margin-top: 0.5em;
						text-align: left;
						padding: 0;
					}

					&__attributes {
						margin-top: 1.5em;

						&-attribute {
							padding: 0 2em 0 0;
						}
					}

					&__socials {
						&-button {
							margin: 0 2em 0 0;
						}
					}

					&__cta-button {
						width: 200px;
						margin-top: 3em;
					}
				}
			}
		}

		.about-me {
			.wrapper {
				flex-direction: row;
				align-items: center;

				.photo-box {
					display: flex;
					justify-content: flex-start;
					flex: 1;

					&__image {
						width: 270px;
						height: 270px;
					}
				}

				.text-box {
					flex: 2;
				}
			}
		}

		.benefits {
			.wrapper {
				.benefits-box {
					margin-top: 5em;

					&__benefit {
						&-icon {
							width: 40px;
							height: 40px;
						}
					}
				}
			}
		}

		.portfolio {
			.wrapper {
				.portfolio-box {
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					margin-top: 4em;

					&__element {
						margin: 0 3em 3em 0;
					}
				}
			}
		}

		.features {
			.wrapper {
				.features-box {
					&__item {
						width: 300px;
					}
				}
			}
		}

		.faq {
			.section-title {
				padding-right: 4em;
				text-align: left;
			}

			.wrapper {
				display: flex;

				.title-col {
					flex: 1;
				}

				.faq-col {
					margin: 0;
					flex: 2;

					.faq-container {
						&--first {
							margin-top: 0.5em;
						}
					}
				}
			}
		}

		.contact {
			.wrapper {
				.contact-box {
					.left-col {
						margin-top: 4em;
					}
				}
			}
		}
	}

	.footer {
		&__desktop {
			display: flex;
		}

		&__mobile {
			&-links {
				display: block;
			}

			&-socials {
				&-btn {
					margin: 0 0.75em;
				}
			}
		}
	}

	.cookie-box {
		align-items: center;

		&__btn {
			width: 500px;
		}
	}
}

@media (min-width: 1920px) {
	.benefits {
		.benefits__decoration {
			display: block;
		}
	}
}
