@media (max-width: 325px) {
	@keyframes navItemsAnimation {
		from {
			transform: translateY(230%);
		}

		to {
			transform: translateY(0);
		}
	}
}

@media (min-width: 350px) {
	.main {
		.welcome-section {
			.wrapper {
				.left-side {
					&__trapezoid {
						height: 280px;
					}

					&__avatar {
						height: 320px;
					}
				}
			}
		}
	}
}

@media (min-width: 450px) {
	.main {
		.welcome-section {
			padding-top: 10em;

			.wrapper {
				.left-side {
					&__trapezoid {
						height: 320px;
					}

					&__avatar {
						height: 360px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		.wrapper {
			.navbar {
				&__menu {
					display: block;
				}

				.hamburger {
					display: none;
				}

				&__call-button {
					display: block;
				}
			}
		}
	}

	.main {
		.welcome-section {
			.wrapper {
				.right-side {
					.main-heading {
						font-size: 4.4rem;
					}

					.main-description {
						padding: 0 5em;
						font-size: 1.5rem;
					}

					&__attributes {
						font-size: 1.4rem;
					}

					&__socials {
						margin-top: 1.5em;
					}

					&__cta-button {
						margin-top: 2.75em;
						width: 70%;
					}
				}
			}
		}

		.benefits {
			.wrapper {
				.benefits-box {
					flex-direction: row;
					justify-content: space-between;
					margin-top: 4em;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.wrapper {
			.navbar {
				height: 70px;
				border-radius: 40px;

				&__logo {
					padding: 0.75em 1em;
					// font-size: 2rem;
				}

				&__menu {
					&-item {
						padding: 1em 1.25em;
						// font-size: 1.9rem;
					}
				}

				&__call-button {
					margin-right: 0.5em;
					// padding: 0.6em 1.8em;
					// font-size: 1.8rem;
				}
			}
		}
	}

	.main {
		.section {
			padding: 6em 1em;
		}

		.section-title {
			font-size: 3rem;
		}

		.welcome-section {
			padding-top: 10em;

			.wrapper {
				flex-direction: row;

				.left-side {
					justify-content: flex-end;
					order: 1;

					&__trapezoid {
						height: 340px;
					}

					&__avatar {
						height: 380px;
					}
				}

				.right-side {
					align-items: flex-start;

					.main-heading {
						font-size: 5rem;
					}

					.main-description {
						margin-top: 0.5em;
						text-align: left;
						padding: 0;
					}

					&__attributes {
						margin-top: 1.5em;

						&-attribute {
							padding: 0 2em 0 0;
						}
					}

					&__socials {
						&-button {
							margin: 0 2em 0 0;
						}
					}

					&__cta-button {
						width: 200px;
						margin-top: 3em;
					}
				}
			}
		}

		.about-me {
			.wrapper {
				flex-direction: row;
				align-items: center;

				.photo-box {
					display: flex;
					justify-content: flex-start;
					flex: 1;

					&__image {
						width: 270px;
						height: 270px;
					}
				}

				.text-box {
					flex: 2;
				}
			}
		}
	}
}
