@media (max-width: 325px) {
	@keyframes navItemsAnimation {
		from {
			transform: translateY(230%);
		}

		to {
			transform: translateY(0);
		}
	}
}

@media (min-width: 768px) {
	.header {
		.wrapper {
			.navbar {
				&__menu {
					display: block;
				}

				.hamburger {
					display: none;
				}

				&__call-button {
					display: block;
				}
			}
		}
	}
}
