@use "colors" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1300px);
}

//header
.header {
	position: relative;

	.wrapper {
		position: relative;
		z-index: 999;

		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 1em;
			padding: 0.5em 1em;
			height: 60px;
			border-radius: 32px;
			background-color: $navbar-bg;

			&__logo {
				padding: 0.75em 0.5em;
				font-family: "Titillium Web", sans-serif;
				font-size: 1.8rem;
				font-weight: 700;
				color: $dark;
				text-decoration: none;
			}

			&__menu {
				display: none;

				&-item {
					display: inline;
					padding: 0.25em 0.5em;
					font-family: "Poppins", sans-serif;
					font-size: 1.7rem;
					color: $dark;
					text-decoration: none;
				}
			}

			&__call-button {
				display: none;
				padding: 0.4em 1.4em;
				font-family: "Poppins", sans-serif;
				font-size: 1.6rem;
				color: $bg-color;
				background-color: $theme-dark;
				border: none;
				border-radius: 32px;
				cursor: pointer;
			}
		}
	}

	.mobile-nav {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		height: 100vh;
		width: 100%;
		transform: translateY(-100%);
		transition: transform 0.8s;
		background-color: $theme-light;

		&__menu {
			list-style-type: none;

			&-item {
				margin: 1em 0;
				padding: 1em;
				font-family: "Poppins", sans-serif;
				font-size: 2rem;

				&-link {
					padding: 1em 10em;
					color: $dark;
					text-decoration: none;
				}
			}
		}
	}

	.show-mobile-nav {
		transform: translateY(0);
	}

	.nav-items-animation {
		animation: navItemsAnimation 1.5s both;
	}
}

// animations

@keyframes navItemsAnimation {
	from {
		transform: translateY(350%);
	}

	to {
		transform: translateY(0);
	}
}
