@use "colors" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1300px);
}

//header
.header {
	.wrapper {
		.navbar {
			margin: 1em;
			padding: 1em;
			border-radius: 32px;
			background-color: $navbar-bg;

			&__logo {
				padding: 0.75em 0.5em;
				font-family: "Titillium Web", sans-serif;
				font-size: 1.7rem;
				font-weight: 700;
				color: $dark;
				text-decoration: none;
			}
		}
	}
}
