@use "colors" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1300px);
}

//header
.header {
	.wrapper {
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 1em;
			padding: 0.5em 1em;
			height: 60px;
			border-radius: 32px;
			background-color: $navbar-bg;

			&__logo {
				padding: 0.75em 0.5em;
				font-family: "Titillium Web", sans-serif;
				font-size: 1.8rem;
				font-weight: 700;
				color: $dark;
				text-decoration: none;
			}

			&__menu {
				display: none;

				&-item {
					display: inline;
					padding: 0.25em 0.5em;
					font-family: "Poppins", sans-serif;
					font-size: 1.7rem;
					color: $dark;
					text-decoration: none;
				}
			}
		}
	}
}
